---
import style from "./style.module.css";

interface Props {
  label: string;
  value: string;
  color: string;
  totalSpent?: string;
}

const { label, value, color, totalSpent } = Astro.props;
---

<li class:list={[style.container, style[color]]}>
  <div class={style.detail}>
    <span class={style.label}>{label}</span>
    <div>
      <span class={style.value}>{totalSpent || value}</span>
      {totalSpent && <span class={style.label}>of {value}</span>}
    </div>
  </div>
</li>
