---
import type { actions } from "astro:actions";
import type { ActionReturnType } from "astro:actions";

import DialogButton from "#components/Dialog/DialogButton.astro";
import Graph from "#components/Graph/Graph.astro";
import Heading from "#components/Heading/Heading.astro";
import Menu from "#components/Menu/Menu.astro";

import style from "./style.module.css";

interface Props {
  pot: NonNullable<
    ActionReturnType<typeof actions.pots.getAllPots>["data"]
  >[number];
}

const { pot } = Astro.props;

const amountSaved = ((pot.saved / pot.target) * 100).toFixed(2);

const styleAttribute = pot.colors.value && {
  style: {
    "--theme": `var(--${pot.colors.value})`,
    "--saved": `${amountSaved}%`,
  },
};
---

<li class={style.container} {...styleAttribute}>
  <div class={style.header}>
    <div class={style.heading}>
      <span class={style.prefix}></span>
      <Heading as="h2" size="lg">
        {pot.name}
      </Heading>
    </div>
    <Menu
      options={[
        { label: "Edit Pot", action: `edit-pot-${pot.id}` },
        { label: "Delete Pot", action: `delete-pot-${pot.id}` },
      ]}
    />
  </div>
  <Graph saved={pot.saved} target={pot.target} theme={pot.colors.value} />
  <div class={style.buttons}>
    <DialogButton modalId={`add-to-pot-${pot.id}`} variant="secondary"
      >+ Add Money</DialogButton
    >
    <DialogButton modalId={`withdraw-from-pot-${pot.id}`} variant="secondary"
      >Withdraw</DialogButton
    >
  </div>
</li>
