---
import { calculatePercentage, setCurrency } from "#lib/utils.ts";

import style from "./style.module.css";

interface Props {
  saved: number;
  target: number;
  theme: string;
  type?: "increase" | "decrease";
}

const { saved, target, theme, type } = Astro.props;

const defaultAmount = 10;
const increasedSavings = saved + defaultAmount;
const decreasedSavings = saved - defaultAmount;
const currentAmountSavedPercentage = calculatePercentage(saved, target);
const newAmountSavedPercentage =
  type === "increase"
    ? calculatePercentage(increasedSavings, target)
    : calculatePercentage(decreasedSavings, target);
const newAmountIncreasePercentage = calculatePercentage(defaultAmount, target);

const styleAttribute = {
  style: {
    "--theme": `var(--${theme})`,
    "--saved": `${currentAmountSavedPercentage}%`,
    ...(type && { "--increase": `${newAmountIncreasePercentage}%` }),
  },
};
---

<div
  class={style.details}
  {...styleAttribute}
  data-pots-graph
  data-saved-amount={saved}
  data-target-amount={target}
>
  <div class={style.labels}>
    <p class:list={[style.label, style.small]}>
      {type === "increase" ? "New Amount" : "Total Saved"}
    </p>
    <p class={style.amount} data-new-amount-currency-output>
      {
        setCurrency(
          type === "increase"
            ? saved + defaultAmount
            : type === "decrease"
              ? saved - defaultAmount
              : saved,
        )
      }
    </p>
  </div>
  <div class={style.graph}>
    <div class={style.inner}></div>
    {
      type === "increase" ? (
        <div class={style.increase} />
      ) : (
        type === "decrease" && <div class={style.decrease} />
      )
    }
  </div>
  <div class={style.labels}>
    <p
      class:list={[
        style.percentage,
        style.xsmall,
        type === "increase" ? style.green : type === "decrease" && style.red,
      ]}
      data-updated-savings-percentage-output
    >
      {type ? newAmountSavedPercentage : currentAmountSavedPercentage}%
    </p>
    <p class:list={[style.label, style.xsmall]}>
      Target of {setCurrency(target)}
    </p>
  </div>
</div>
