---
import type { HTMLAttributes } from "astro/types";

import Icon, { type iconName } from "../Icon/Icon.astro";

import style from "./style.module.css";

interface Props extends HTMLAttributes<"select"> {
  options: string[];
  comboboxLabel: string;
  mobileTriggerIconName: iconName;
  id: string;
  currentlySelected?: string | null;
}

const {
  options,
  comboboxLabel,
  mobileTriggerIconName,
  id,
  currentlySelected,
  ...props
} = Astro.props;
---

<select-only-combobox
  class={style.container}
  data-testid="select-only-combobox"
>
  <div class:list={[style.label]} id="combobox-label">
    {comboboxLabel}
  </div>
  <div class={style.wrapper}>
    <button
      aria-controls={id}
      aria-expanded="false"
      aria-haspopup="listbox"
      aria-labelledby="combobox-label"
      class={style.combobox}
      role="combobox"
      tabindex="0"
    >
      <span class={style["button-label"]} data-combobox-preview
        >{currentlySelected || options[0]}</span
      >
      <Icon
        aria-hidden="true"
        class={style["mobile-trigger"]}
        icon={mobileTriggerIconName}
      />
      <Icon
        aria-hidden="true"
        class={style["desktop-trigger"]}
        icon="chevron-down"
      />
    </button>
    <div
      aria-labelledby="combobox-label"
      class:list={[style.list]}
      id={id}
      role="listbox"
      tabindex="-1"
      {...props}
    >
      {
        options.map((option, i) => (
          <div
            aria-selected={
              option === currentlySelected || i === 0 ? "true" : "false"
            }
            class={style.option}
            data-focused={
              option === currentlySelected || i === 0 ? "true" : "false"
            }
            id={`${id}-option-${i}`}
            role="option"
          >
            {option}
          </div>
        ))
      }
    </div>
  </div>
</select-only-combobox>

<script>
  import { SelectOnlyCombobox } from "./SelectOnlyCombobox.ts";

  if (!customElements.get("select-only-combobox")) {
    customElements.define("select-only-combobox", SelectOnlyCombobox);
  }
</script>
