---
import type { HTMLAttributes } from "astro/types";

import Icon, { type iconName } from "../Icon/Icon.astro";

import style from "./style.module.css";

interface Props extends HTMLAttributes<"select"> {
  options: {
    label: string;
    prefixStyle?: string;
    disabled?: boolean | null;
    value?: string | number;
    id?: number;
  }[];
  comboboxLabel: string;
  mobileTriggerIconName?: iconName;
  id: string;
  currentlySelected?: string | null;
  formControlId?: string;
}

const {
  options,
  comboboxLabel,
  mobileTriggerIconName,
  id,
  currentlySelected,
  formControlId,
  ...props
} = Astro.props;

const dropdownShouldBecomeIconOnMobile = !!mobileTriggerIconName;
const optionHasPrefix = options.every((option) => option.prefixStyle);
const firstAvailableOption = options.find((option) => !option.disabled);
const activeOptionIndex = options.findIndex(
  (option) =>
    option.label === currentlySelected ||
    option.label === firstAvailableOption?.label,
);
---

<select-only-combobox
  {...props}
  class:list={[
    style.container,
    !dropdownShouldBecomeIconOnMobile && style.desktop,
    optionHasPrefix && style.prefixed,
  ]}
  data-active-option-index={activeOptionIndex}
  data-testid="select-only-combobox"
  {...formControlId && { id: formControlId }}
>
  <div class={style.label} id="combobox-label">
    {comboboxLabel}
  </div>
  <div class={style.wrapper}>
    <button
      aria-controls={id}
      aria-expanded="false"
      aria-haspopup="listbox"
      aria-labelledby="combobox-label"
      class={style.combobox}
      role="combobox"
      tabindex="0"
      type="button"
    >
      <span
        class={style["button-label"]}
        data-combobox-preview
        {...options[activeOptionIndex].prefixStyle && {
          style: {
            "--theme": `var(--${options[activeOptionIndex].prefixStyle})`,
          },
        }}>{options[activeOptionIndex].label}</span
      >
      {
        dropdownShouldBecomeIconOnMobile && (
          <Icon
            aria-hidden="true"
            class={style["mobile-trigger"]}
            icon={mobileTriggerIconName}
          />
        )
      }
      <Icon
        aria-hidden="true"
        class={style["desktop-trigger"]}
        icon="chevron-down"
      />
    </button>
    <div
      aria-labelledby="combobox-label"
      class:list={[style.list]}
      id={id}
      role="listbox"
      tabindex="-1"
    >
      {
        options.map((option, i) => {
          const prefixStyleAttribute = option.prefixStyle && {
            style: { "--theme": `var(--${option.prefixStyle})` },
          };
          const isActiveOption =
            option.label === options[activeOptionIndex].label;
          return (
            <div
              aria-disabled={option.disabled}
              aria-selected={isActiveOption ? "true" : "false"}
              class={style.option}
              data-focused={isActiveOption ? "true" : "false"}
              data-option-id={option.id}
              data-option-label={option.label}
              data-option-value={option.value}
              id={`${id}-option-${i}`}
              role="option"
              {...prefixStyleAttribute}
            >
              {option.label}
              {option.disabled && (
                <span class={style.suffix}>already used</span>
              )}
            </div>
          );
        })
      }
    </div>
  </div>
</select-only-combobox>

<script>
  import { SelectOnlyCombobox } from "./SelectOnlyCombobox.ts";

  if (!customElements.get("select-only-combobox")) {
    customElements.define("select-only-combobox", SelectOnlyCombobox);
  }
</script>
