---
import type PotsDetailCard from "#components/PotsDetailCard/PotsDetailCard.astro";
import type { ComponentProps } from "astro/types";

import Button from "#components/Button/Button.astro";
import DialogModal from "#components/Dialog/DialogModal.astro";
import Form from "#components/Form/Form.astro";
import Graph from "#components/Graph/Graph.astro";
import Input from "#components/Input/Input.astro";
import { actions } from "astro:actions";

interface Props {
  currentPot: ComponentProps<typeof PotsDetailCard>["pot"];
}

const { currentPot } = Astro.props;
---

<DialogModal
  description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus  hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet."
  id={`add-to-pot-${currentPot.id}`}
  title={`Add to ${currentPot.name}`}
>
  <Form
    action={actions.pots.addToPot}
    data-add-to-pot-form
    enctype="multipart/form-data"
    method="POST"
  >
    <input id="pot_id" name="id" type="hidden" value={currentPot.id} />
    <input
      id="current_savings"
      name="current_savings"
      type="hidden"
      value={currentPot.saved}
    />
    <Graph
      newAmount
      saved={currentPot.saved}
      target={currentPot.target}
      theme={currentPot.colors.value}
    />
    <Input
      autocomplete="off"
      id="pot_amount_to_add"
      label="Amount to Add"
      name="amount_to_add"
      prefix="$"
      value="10"
    />
    <Button>Confirm Addition</Button>
  </Form>
</DialogModal>

<script>
  import { setCurrency } from "#lib/utils.ts";

  document
    .querySelectorAll<HTMLFormElement>("[data-add-to-pot-form]")
    .forEach((form) => {
      const newAmountInput = form.querySelector<HTMLInputElement>(
        'input[name="amount_to_add"]',
      );
      const potsGraph = form.querySelector<HTMLDivElement>("[data-pots-graph]");
      const newAmountCurrencyTextNode =
        form.querySelector<HTMLParagraphElement>(
          "p[data-new-amount-currency-output]",
        );
      const newAmountIncreaseTextNode =
        form.querySelector<HTMLParagraphElement>(
          "p[data-new-amount-percent-increase-output]",
        );
      const targetAmount = potsGraph?.getAttribute("data-target-amount");
      const savedAmount = potsGraph?.getAttribute("data-saved-amount");

      newAmountInput?.addEventListener("input", (e) => {
        if (
          savedAmount &&
          targetAmount &&
          newAmountIncreaseTextNode &&
          newAmountCurrencyTextNode &&
          e.target &&
          e.target instanceof HTMLInputElement
        ) {
          const amountToAddInputValue = parseInt(e.target.value) || 0;
          const newAmount = (
            ((amountToAddInputValue + parseInt(savedAmount)) /
              parseInt(targetAmount)) *
            100
          ).toFixed(2);
          const newAmountIncrease = (
            (amountToAddInputValue / parseInt(targetAmount)) *
            100
          ).toFixed(2);

          const newAmountCurrency = setCurrency(
            parseInt(savedAmount) + amountToAddInputValue,
          );

          newAmountIncreaseTextNode.textContent = `${newAmount}%`;
          newAmountCurrencyTextNode.textContent = newAmountCurrency;
          potsGraph?.style.setProperty("--increase", `${newAmountIncrease}%`);
        }
      });
    });
</script>
