---
import style from "./style.module.css";

interface Props {
  eyebrow: string;
  text: string;
  background?: "light" | "dark";
}

const { eyebrow, text, background = "dark" } = Astro.props;
---

<li class:list={[style.card, style[background]]}>
  <div class={style.content}>
    <h3 class={style.eyebrow}>{eyebrow}</h3>
    <p class={style.text}>{text}</p>
  </div>
</li>
