---
import type { Tables } from "#src/types.ts";

import ExpenseDetail from "../ExpenseDetail/ExpenseDetail.astro";
import Heading from "#components/Heading/Heading.astro";
import Link from "#components/Link/Link.astro";
import PotsOverviewIcon from "#icons/pots-overview-icon.svg";
import { setCurrency } from "#src/lib/utils.ts";

import style from "./style.module.css";

interface Props {
  pots: Array<Tables<"Pots">>;
}

const { pots } = Astro.props;
---

<section class={style.container}>
  <div class={style.overview}>
    <div class={style.header}>
      <Heading as="h2" size="lg">Pots</Heading>
      <Link href="/pots"> See Details </Link>
    </div>
    <div class={style.total}>
      <PotsOverviewIcon aria-hidden="true" />
      <div class={style.text}>
        <h3 class={style.label}>Total Saved</h3><p class={style.value}>$850</p>
      </div>
    </div>
    <ul class={style.details}>
      {
        pots.map((pot) => (
          <ExpenseDetail
            color={pot.theme}
            label={pot.name}
            value={setCurrency(pot.target)}
          />
        ))
      }
    </ul>
  </div>
</section>
