---
import ExpenseDetail from "../ExpenseDetail/ExpenseDetail.astro";
import Heading from "#components/Heading/Heading.astro";
import Link from "#components/Link/Link.astro";
import PotsOverviewIcon from "#icons/pots-overview-icon.svg";

import style from "./style.module.css";
---

<section class={style.overview}>
  <div class={style.header}>
    <Heading as="h2" size="lg">Pots</Heading>
    <Link href="/pots"> See Details </Link>
  </div>
  <div class={style.total}>
    <PotsOverviewIcon aria-hidden="true" />
    <div class={style.text}>
      <h3 class={style.label}>Total Saved</h3><p class={style.value}>$850</p>
    </div>
  </div>
  <ul class={style.details}>
    <ExpenseDetail color="green" label="Savings" value="$159" />
    <ExpenseDetail color="cyan" label="Gift" value="$40" />
    <ExpenseDetail color="navy" label="Concert Ticket" value="$110" />
    <ExpenseDetail color="yellow" label="New Laptop" value="$10" />
  </ul>
</section>
