---
import AddNewBudget from "#components/AddNewBudget/AddNewBudget.astro";
import BudgetDetailCard from "#components/BudgetDetailCard/BudgetDetailCard.astro";
import BudgetOverview from "#components/BudgetOverview/BudgetOverview.astro";
import Heading from "#components/Heading/Heading.astro";
import DefaultLayout from "#layouts/DefaultLayout.astro";
import { createSbClient } from "#lib/supabase.ts";
import { actions } from "astro:actions";

const supabase = createSbClient({
  request: Astro.request,
  cookies: Astro.cookies,
});
// @ts-expect-error due to casting the SSR client to the Browser client
const user = await supabase.auth.getUser();

if (!user?.data) {
  Astro.redirect("/signin");
}

const [
  { data: colorsData, error: colorsError },
  { data: categoriesData, error: categoriesError },
  { data: budgetExpensesData, error: budgetExpensesError },
] = await Promise.all([
  Astro.callAction(actions.colors.getAllColors, {}),
  Astro.callAction(actions.categories.getAllCategories, {}),
  Astro.callAction(actions.budgets.getBudgetExpensesByCategory, {}),
]);

if (colorsError || categoriesError || budgetExpensesError) {
  // handle
  console.error(colorsError || categoriesError || budgetExpensesError);
}

const colorOptions = colorsData?.map((color) => ({
  label: color.label,
  value: color.id,
  id: color.id,
  prefixStyle: color.value,
  disabled: color.budgets.length > 0,
}));
const categoryOptions = categoriesData?.map((category) => ({
  label: category.label,
  value: category.id,
  id: category.id,
  disabled: category.budgets.length > 0,
}));

const result = Astro.getActionResult(actions.budgets.addNewBudget);
---

{
  categoryOptions && colorOptions && budgetExpensesData && (
    <DefaultLayout title="Budgets">
      <section>
        <div class="header">
          <Heading as="h1" size="xl">
            Budgets
          </Heading>
          <AddNewBudget
            categoryOptions={categoryOptions}
            colorOptions={colorOptions}
          />
        </div>
        {result?.data && (
          <div class="alert" role="alert">
            <span>Success!</span> A budget for {result.data[0].categories.label}{" "}
            has been created.{" "}
          </div>
        )}
        {budgetExpensesData.length > 0 && (
          <BudgetOverview expenses={budgetExpensesData} summary="expenses" />
        )}
        <ul>
          {budgetExpensesData.map((budget) => (
            <BudgetDetailCard budget={budget} />
          ))}
        </ul>
      </section>
    </DefaultLayout>
  )
}

<style>
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-150);
    margin-block-start: var(--spacing-400);

    @media (--lg-viewport) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-300);
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-block: var(--spacing-400);
  }

  .alert {
    padding: var(--spacing-150);
    background-color: var(--white);
    margin-block-end: var(--spacing-150);
    border-radius: var(--spacing-150);

    span {
      color: var(--green);
      font-weight: 700;
    }
  }
</style>
