---
import BudgetOverview from "#components/BudgetOverview/BudgetOverview.astro";
import Card from "#components/Card/Card.astro";
import CardGrid from "#components/CardGrid/CardGrid.astro";
import PotsOverview from "#components/PotsOverview/PotsOverview.astro";
import RecurringBillsOverview from "#components/RecurringBillsOverview/RecurringBillsOverview.astro";
import TransactionOverview from "#components/TransactionOverview/TransactionOverview.astro";
import DefaultLayout from "#layouts/DefaultLayout.astro";
import HomeLayout from "#layouts/HomeLayout.astro";
import { setCurrency } from "#lib/utils.ts";
import { actions } from "astro:actions";

const { data } = await Astro.callAction(actions.overview.getOverview, {});

const { data: budgetExpensesByCategory } = await Astro.callAction(
  actions.budgets.getBudgetExpensesByCategory,
  {},
);

const currentBalance =
  data?.balance?.[0].current && setCurrency(data.balance[0].current);
const currentIncome =
  data?.balance?.[0].income && setCurrency(data.balance[0].income);
const currentExpenses =
  data?.balance?.[0].expenses && setCurrency(data.balance[0].expenses);
---

<DefaultLayout title="Overview">
  <h1>Overview</h1>
  <HomeLayout>
    <CardGrid>
      {
        currentBalance && (
          <Card eyebrow="Current Balance" text={currentBalance} />
        )
      }
      {
        currentIncome && (
          <Card background="light" eyebrow="Income" text={currentIncome} />
        )
      }
      {
        currentExpenses && (
          <Card background="light" eyebrow="Expenses" text={currentExpenses} />
        )
      }
    </CardGrid>

    {data?.pots && data.pots.length > 0 && <PotsOverview pots={data.pots} />}

    {
      data?.transactions && data.transactions.length > 0 && (
        <TransactionOverview transactions={data.transactions} />
      )
    }

    {
      budgetExpensesByCategory && budgetExpensesByCategory.length > 0 && (
        <BudgetOverview expenses={budgetExpensesByCategory} />
      )
    }

    {
      data?.recurringBills && (
        <RecurringBillsOverview bills={data?.recurringBills} />
      )
    }
  </HomeLayout>
</DefaultLayout>
