---
import BudgetOverview from "#components/BudgetOverview/BudgetOverview.astro";
import Card from "#components/Card/Card.astro";
import CardGrid from "#components/CardGrid/CardGrid.astro";
import PotsOverview from "#components/PotsOverview/PotsOverview.astro";
import RecurringBillsOverview from "#components/RecurringBillsOverview/RecurringBillsOverview.astro";
import TransactionOverview from "#components/TransactionOverview/TransactionOverview.astro";
import { getBudgetExpensesByCategory } from "#db/budgets.ts";
import { getOverview } from "#db/overview.ts";
import { getRecurringBillsOverview } from "#db/transactions.ts";
import BaseLayout from "#layouts/BaseLayout.astro";
import HomeLayout from "#layouts/HomeLayout.astro";
import { setCurrency } from "#lib/utils.ts";

const data = await getOverview();

const budgetExpensesByCategory = await getBudgetExpensesByCategory();
const recurringBills = await getRecurringBillsOverview();

const currentBalance =
  data?.balance?.[0].current && setCurrency(data.balance[0].current);
const currentIncome =
  data?.balance?.[0].income && setCurrency(data.balance[0].income);
const currentExpenses =
  data?.balance?.[0].expenses && setCurrency(data.balance[0].expenses);
---

<BaseLayout title="Overview">
  <h1>Overview</h1>
  <HomeLayout>
    <CardGrid>
      {
        currentBalance && (
          <Card eyebrow="Current Balance" text={currentBalance} />
        )
      }
      {
        currentIncome && (
          <Card background="light" eyebrow="Income" text={currentIncome} />
        )
      }
      {
        currentExpenses && (
          <Card background="light" eyebrow="Expenses" text={currentExpenses} />
        )
      }
    </CardGrid>

    {data?.pots && data.pots.length > 0 && <PotsOverview pots={data.pots} />}

    {
      data?.transactions && data.transactions.length > 0 && (
        <TransactionOverview transactions={data.transactions} />
      )
    }

    {
      budgetExpensesByCategory && budgetExpensesByCategory.length > 0 && (
        <BudgetOverview expenses={budgetExpensesByCategory} />
      )
    }

    {recurringBills && <RecurringBillsOverview bills={recurringBills} />}
  </HomeLayout>
</BaseLayout>
