---
import AddNewPot from "#components/AddNewPot/AddNewPot.astro";
import AddToPot from "#components/AddToPot/AddToPot.astro";
import Alert from "#components/Alert/Alert.astro";
import DeletePot from "#components/DeletePot/DeletePot.astro";
import EditPot from "#components/EditPot/EditPot.astro";
import Heading from "#components/Heading/Heading.astro";
import PotsDetailCard from "#components/PotsDetailCard/PotsDetailCard.astro";
import DefaultLayout from "#layouts/DefaultLayout.astro";
import { createSbClient } from "#lib/supabase.ts";
import { actions } from "astro:actions";

const supabase = createSbClient({
  request: Astro.request,
  cookies: Astro.cookies,
});
// @ts-expect-error due to casting the SSR client to the Browser client
const user = await supabase.auth.getUser();

if (!user?.data) {
  Astro.redirect("/signin");
}

const [{ data: potsData }, { data: colorsData, error: colorsError }] =
  await Promise.all([
    Astro.callAction(actions.pots.getAllPots, {}),
    Astro.callAction(actions.colors.getAllColors, {}),
  ]);

if (colorsError) {
  console.error(colorsError);
}

const colorOptions = colorsData?.map((color) => ({
  label: color.label,
  value: color.id,
  id: color.id,
  prefixStyle: color.value,
  disabled: !!color.pots,
}));

const actionsResults = [
  Astro.getActionResult(actions.pots.addNewPot),
  Astro.getActionResult(actions.pots.editPot),
  Astro.getActionResult(actions.pots.deletePot),
  Astro.getActionResult(actions.pots.addToPot),
];
---

<DefaultLayout title="Pots">
  <section>
    <div class="header">
      <Heading as="h1" size="xl">Pots</Heading>
      {
        colorOptions && colorOptions.length > 0 && (
          <AddNewPot colorOptions={colorOptions} />
        )
      }
    </div>
    {
      actionsResults.map(
        (result) =>
          result?.data && (
            <Alert
              message={result.data.message}
              success={result.data.success}
            />
          ),
      )
    }
    {
      potsData &&
        potsData.length > 0 &&
        colorOptions &&
        colorOptions.length > 0 && (
          <ul>
            {potsData.map((pot) => (
              <>
                <PotsDetailCard pot={pot} />
                <EditPot colorOptions={colorOptions} currentPot={pot} />
                <DeletePot currentPot={pot} />
                <AddToPot currentPot={pot} />
              </>
            ))}
          </ul>
        )
    }
  </section>
</DefaultLayout>

<style>
  ul {
    list-style-type: none;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    display: grid;
    gap: var(--spacing-300);
    margin-block-start: var(--spacing-400);

    @media (--md-viewport) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: var(--spacing-400);
  }
</style>
