---
import type { Tables } from "#src/types.ts";

import { Image } from "@unpic/astro";
import { setCurrency, transformDate } from "#lib/utils.ts";

import style from "./style.module.css";

interface Props {
  transaction: Tables<"Transactions">;
}

const { transaction } = Astro.props;

const strippedDate = transaction.date.split("T")[0];
const transformedDate = transformDate(transaction.date);
const transformedAmount = setCurrency(transaction.amount);
const isIncome = !transformedAmount.includes("-");
---

<li class={style.transaction}>
  <div class={style.header}>
    <Image
      alt=""
      class={style.image}
      height={40}
      layout="fixed"
      src={transaction.avatar}
      width={40}
    />
    <p class={style.name}>{transaction.name}</p>
  </div>
  <div>
    <p class:list={[style.amount, isIncome && style.green]}>
      {`${transformedAmount}`}
    </p>
    <time class={style.date} datetime={strippedDate}>
      {transformedDate}
    </time>
  </div>
</li>
